html, body, div, span, p, textarea, button, ul, li, a, section {
	margin: 0;
	padding: 0;
}


#chatMainBox {
	zoom: 1;
}

#login-form-holder a {
	margin-left: 10px;
}

#chatMainBox:after {
	content: "";	
	clear: both;
	display:block;
}

#chatMainBox {
	width: 80%;
	height: 440px;
	border: 2px dashed #00f;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #EBEBEB;
	position: relative;
}
	#chatMainBox ul {
		
		padding-left: 20px;
	}
	
		#chatMainBox ul li {
			margin: 2px;
			padding: 0;
		}
		
			#chatMainBox ul li a{
				margin: 0;
				padding: 2px;
			}
			
			#chatMainBox ul li a:hover{
				text-decoration: none;
				color: #f00;
			}
			
			#chatMainBox ul li form {
				display:none;
				
			}
			
				#chatMainBox ul li form label{
					color: #00f;
				}

#allUsers {
	width: 25%;
	height: 350px;
	border: 2px dashed #f00;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	background-color: #F7F7F7;
	overflow: auto;
}



#chatUsers {
	width: 25%;
	height: 350px;
	border: 2px dashed #0f0;
	margin-top: 5px;
	margin-right: 5px;
	float: right;
	background-color: #F7F7F7;
}

#messages {
	width: 30%;
	height: 80px;
	border: 2px dotted #00f;
	margin: 5px auto;
	background-color: #F7F7F7;
	padding: 3px;
	overflow: auto;
	font-size: 12px;
	color: grey;
}

#chatDisplay {
	width: 40%;
	height: 250px;
	border: 2px dotted orange;
	border-radius: 8px;
	margin: 5px auto;
	text-align: bottom;
	position: relative;
	
}

	#innerChat {
		position: absolute;
		max-height: 100%;
		width: 100%;
		bottom: 10px;
		overflow: auto;
	}
	
	.bubble
	{
	position: relative;
	width: 265px;
	height: 50px;
	padding: 0px;
	background: #40E6FF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	}

	.bubble:after
	{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 8px 15px 8px 0;
	border-color: transparent #40E6FF;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 14px;
	}
	
	.bubble2
	{
	position: relative;
	width: 265px;
	height: 50px;
	padding: 0px;
	background: #FFBA46;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin-right: 20px;
	margin-top: 10px;
	float: right;
	}

	.bubble2:after
	{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 8px 0 8px 15px;
	border-color: transparent #FFBA46;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 14px;
	}

#chatMessageBox {
	
	width: 38%;
	height: 60px;
	border: 2px dotted #00f;
	margin: 5px auto;
	padding-top: 5px;
	padding-left: 5px;
	background-color: #F7F7F7;
	
}

	#chatMessageBox textarea {
		width: 80%;
		height: 44px;
		padding-top: 5px;
		padding-left: 5px;
		
	}

    #chatMessageBox #submit-message {
		width: 15%;
		margin-left: 5px;
	}

.chatUser {
	margin: 5px;
	color: green;
}
